{% if event.link %}
    <a href="{{ event.link }}">{{ event.title }}</a>
{% else %}
    {{ event.title }}
{% endif %}

-
{% if event.fuzzy_date %}
    {{ event.date|date(site.fuzzy_date_format) }}
{% else %}
    {{ event.date|date(site.default_date_format) }}
{% endif %}

{% set venue = site.venues[event.location] %}
{% set venue_name = venue.name|default('TBC') %}
-
{% if venue.website %}
    <a href="{{ venue.website }}">{{ venue_name }}</a>
{% else %}
    {{ venue_name }}
{% endif %}
